* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

html {
    font-size: 13px;
}

body {
    background: #f5f5f7;
    color: black;
    font-family: 'LATO', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 6.5rem;
    width: 100%;
}

.main-wrapper {
    width: 90%;
    max-width: 100rem;
    margin: 1.25rem auto;
}

.title-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.title-wrapper h2 {
    font-size: 2rem;
    margin: 1rem;
}

.profile-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "section-img section-info";
  gap: 1rem;
  width: 100%;
}

.section-img {
  grid-area: section-img;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.section-img img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.profile-location {
  display: flex;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #555555;
  align-items: center;
  justify-content: center;
}

.profile-connect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-top: 1rem;
  max-width: 20rem;
}

.profile-connect img {
    height: 2rem;
    width: 2rem;
    margin-right: 0.625rem;
    object-fit: cover;
}

.btn-contact{
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.section-info {
  grid-area: section-info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}
.section-info h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.section-info h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-info p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.side-projects-section{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.625rem;
  padding: 0.625rem;
  align-content: start;
  margin: 1.25rem auto;
}

.project-card {
    background: white;
    border: #1d1d1e solid 1px;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card p{
    font-size: 1.2rem;
}

.project-image {
    width: 100%;
    height: 40rem;
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
}
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.project-title {
    display: flex;
}
.project-title h2 {
    margin-top: 0.65rem;
}

.project-stack {
  margin-top: 0.625rem;
    margin-left: auto;
    gap: 0.625rem;
    margin-bottom: 0.625rem;
}
.project-stack img {
    margin-left: 0.625rem;
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}

.stack-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.stack-item {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.stack-item img {
    height: 3rem;
    width: 3rem;
    object-fit: contain;
}

.stack-item p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #555555;
}

.education-section {
    display: flex;
    flex-direction: column;
}

.education-item{
  margin-top: 1rem;
  padding-left: 2rem;
}

.education-section h3{
    margin-bottom: 1.5rem;
}

.cv-item{
    margin-top: 1rem;
  padding-left: 2rem;
}
.cv-item h3{
    margin-bottom: 1rem;
}

.cv-item li{
  font-size: 1.2rem;
}

.courses-section{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  padding: 0.625rem;
  align-content: start;
  margin: 1.25rem auto;
}
.course-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-left: 2rem;
    border: #1d1d1e solid 1px;
    border-radius: 0.5rem;
    width: 100%;
}
.course-item h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
.courses-section img {
    width: 80%;
    height: 25rem;
    object-fit: contain;
    border-radius: 0.5rem;
}


.footer {
    width: 100%;
    background: #1d1d1e;
    color: white;
    padding: 1.25rem;
    margin-top: auto;
    height: 20rem;
    display: flex;
    flex-direction: column;
    border: #1d1d1e solid 1px;
    
}

@media screen and (max-width: 43.125rem) {
    .main-wrapper {
        width: 95%;
    }
    .profile-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "section-img"
            "section-info";
    }
    .section-img {
        width: 100%;
    }
    .section-img img {
      width: 100%;
      height: 10rem;
      object-fit: contain;
    }
    .profile-connect img {
        height: 2rem;
        width: 2rem;
        margin-right: 0.625rem;
        object-fit: cover;
    }
    .section-info h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .section-info h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .section-info p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .side-projects-section{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0.625rem;
        padding: 0.625rem;
        align-content: start;
        margin: 1.25rem auto;
      }
      .stack-section {
        padding-left: 3rem;
        padding-right: 3rem;
      }
      .courses-section{
        grid-template-columns: repeat(1, minmax(0, 1fr));

      }

}